/* styles.css */

/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header styles */
.header {
    background-image: url('wedding-background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    margin: 0;
}

.header p {
    font-size: 1.2em;
    margin-top: 10px;
}

/* Event details styles */
.event-details {
    background: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.event-details h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    margin-bottom: 10px;
}

.event-details p {
    font-size: 1.1em;
    margin-bottom: 5px;
}

/* Event description styles */
.event-description {
    background: #eaeaea;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.event-description h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    margin-bottom: 10px;
}

/* Image gallery styles */
/* General gallery styles */
.image-gallery {
    background: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.image-gallery h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Card styles */
.card {
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-content {
    padding: 10px;
    text-align: center;
}

/* Button styles */
.card-content button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease-in-out;
}

.card-content .view-more:hover {
    background-color: #555;
}

.card-content .download:hover {
    background-color: #555;
}


/* Footer styles */
.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 1em;
}
