* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #4D3D6B;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    display: flex;
    max-width: 900px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
    background-color: #4D3D6B;
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}

.contact-info h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.contact-details p {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-details img {
    margin-right: 10px;
}

.contact-form {
    flex: 2;
    padding: 40px;
    background-color: #f9f9f9;
    color: #333;
}

.contact-form h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.phone-input {
    display: flex;
    align-items: center;
}

.phone-input select {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #4D3D6B;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button[type="submit"]:hover {
    background-color: #392C54;
}
